[Reference](https://medium.com/@akjha22/quantitative-finance-using-python-6-valuation-and-risk-models-with-stocks-i-9552c442e37f)

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.84-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.84

In [3]:
pip install ffn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ffn
  Downloading ffn-0.3.6-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: scipy>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn) (1.7.3)
Requirement already satisfied: decorator>=4 in /usr/local/lib/python3.7/dist-packages (from ffn) (4.4.2)
Requirement already satisfied: scikit-learn>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn) (1.0.2)
Requirement already satisfied: future>=0.15 in /usr/local/lib/python3.7/dist-packages (from ffn) (0.16.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from ffn) (1.3.5)
Requirement already satisfied: numpy>=1.5 in /usr/local/lib/python3.7/dist-packages (from ffn) (1.21.6)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from ffn) (0.8.10)
Requirement already satisfied: matplotlib>=1 in /usr/local/lib/python3.7/dist-packages (from ffn) (3.2.2)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.7/dist-packages (from ffn) (0.9.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1->ffn) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1->ffn) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->ffn) (2022.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader>=0.2->ffn) (2.28.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1->ffn) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (2.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15->ffn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15->ffn) (3.1.0)
Installing collected packages: ffn
Successfully installed ffn-0.3.6

In [4]:
import numpy as np
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import datetime
import pandas_datareader.data as web
import ffn
import plotly.express as px
import yfinance as yf

In [5]:
import yfinance as yf
etf = ['RELIANCE.NS','SUNPHARMA.NS','ITC.NS','BPCL.NS'] #and any tickers you'd add to be retrived
Stock = yf.download(tickers=etf, period='5y')
Portfolio=Stock['Close']

[*********************100%***********************]  4 of 4 completed

In [6]:
Portfolio_return= Portfolio/Portfolio.shift(1)
Portfolio_return

             BPCL.NS    ITC.NS  RELIANCE.NS  SUNPHARMA.NS
Date
2017-10-25       NaN       NaN          NaN           NaN
2017-10-26  1.052275  0.996843     1.007980      1.013187
2017-10-27  0.984155  1.003540     0.981476      1.037254
2017-10-30  1.015721  0.984407     1.013604      1.005819
2017-10-31  1.009977  1.002074     0.998249      0.999638
...              ...       ...          ...           ...
2022-10-19  0.987828  1.017778     1.017399      0.998518
2022-10-20  1.016943  1.009672     1.002687      1.003532
2022-10-21  1.004207  0.988276     0.988403      0.997297
2022-10-24  1.008044  1.006076     1.003338      1.009512
2022-10-25  1.006151  0.995973     0.984555      1.004610

[1237 rows x 4 columns]

In [7]:
Portfolio_Cov= Portfolio_return.cov()
Portfolio_Cov

               BPCL.NS    ITC.NS  RELIANCE.NS  SUNPHARMA.NS
BPCL.NS       0.000596  0.000132     0.000181      0.000118
ITC.NS        0.000132  0.000285     0.000091      0.000085
RELIANCE.NS   0.000181  0.000091     0.000398      0.000110
SUNPHARMA.NS  0.000118  0.000085     0.000110      0.000403

In [8]:
annualised_cov= Portfolio_Cov*252
annualised_cov

               BPCL.NS    ITC.NS  RELIANCE.NS  SUNPHARMA.NS
BPCL.NS       0.150259  0.033309     0.045729      0.029802
ITC.NS        0.033309  0.071924     0.022815      0.021391
RELIANCE.NS   0.045729  0.022815     0.100399      0.027723
SUNPHARMA.NS  0.029802  0.021391     0.027723      0.101667

In [9]:
portfolio_weights= np.array([0.25,0.25,0.25,0.25])
portfolio_sd=np.sqrt(np.dot(portfolio_weights.T, np.dot(annualised_cov, portfolio_weights)))
portfolio_sd

0.2216114121820209

In [10]:
covariance_mkt= annualised_cov.iloc[0,1]
covariance_mkt

0.03330853896963075

In [11]:
tickers='NIFTYBEES.NS'
NIFTY50 = yf.download(tickers=tickers, period='5y')
Portfolio_return['Benchmark']= NIFTY50['Close']
Portfolio_return['Benchmark']= Portfolio_return['Benchmark'].pct_change(1).dropna()
Portfolio_return= Portfolio_return.dropna()
Portfolio_return['RF Rate']=0.073
Portfolio_return

Market_variance= Portfolio_return['Benchmark'].var()*252
Market_variance

[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

16.595298262372857

In [13]:
portfolio_beta= covariance_mkt/Market_variance
portfolio_beta

0.0020071069795203652

In [16]:
risk_free_rate= 0.073
Portfolio_return['excess']=Portfolio_return['Benchmark'] - Portfolio_return['RF Rate']
Portfolio_return['excess market' ]=Portfolio_return['Benchmark' ] - Portfolio_return['RF Rate' ]
Portfolio_return.head().dropna()
covariance_matrix=Portfolio_return[['excess', 'excess market' ]].cov()
covariance_matrix
covariance_coefficient = covariance_matrix.iloc[0, 1]
variance_coeffcient=Portfolio_return['excess market' ].var()
variance_coeffcient
beta= covariance_coefficient/variance_coeffcient
beta

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0.999999999999999